<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248675940972-sebh9v55bmarujbt068pdlo9sugut2is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248675940972-sebh9v55bmarujbt068pdlo9sugut2is</string>
	<key>API_KEY</key>
	<string>AIzaSyDc8lNyLIEBfr95XqEgHuo6d-dw9RLsFrE</string>
	<key>GCM_SENDER_ID</key>
	<string>248675940972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beni.easyweather</string>
	<key>PROJECT_ID</key>
	<string>crowd-predict</string>
	<key>STORAGE_BUCKET</key>
	<string>crowd-predict.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:248675940972:ios:304f2123f64d0c41927649</string>
	<key>DATABASE_URL</key>
	<string>https://crowd-predict.firebaseio.com</string>
</dict>
</plist>
